body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#message{
    color: blue;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}